<div ng-controller="LoginController">
  <h1>Welcome {{userInfo.user.name}}!</h1>
  <div class="user-details-container">
    <div class="row">
      <div class="col-md-6">
        <img ng-src="{{userInfo.user.avatar}}"  alt="" class="rounded-circle img-fluid" style="padding: 0px; width: 200px; height: 200px;">
      </div>
      <div class="col-md-6 details">
        <blockquote>
          <h5>{{userInfo.user.name}}</h5>
          <small><cite title="Source Title">Vancouver, BC Canada  <i class="fa fa-map-marker"></i></cite></small>
        </blockquote>
        <p>
          user details...
        </p>
      </div>
    </div>
  </div>
  <div class="container">
  	<div class="row">
  		<table class="table table-bordered success">
  				<thead>
  					<tr class='text-primary'>
  						<th>#</th>
  						<th>Project</th>
  					</tr>
  				</thead>
          <tbody>
            <tr ng-repeat="project in projects">
              <th>{{project.number}}</th>
  						<th>{{project.name}}</th>
            </tr>
          </tbody>
  			</table>
  	</div>
  </div>
</div>
